---
site:
  canonical_url: https://mmap.page
  repo: weakish/weakish.github.com
---

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title | default: "mmap.page" }}</title>
    <link rel="canonical" href="{{site.canonical_url}}{{url}}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.2.0/github-markdown.min.css"
      integrity="sha512-Ya9H+OPj8NgcQk34nCrbehaA0atbzGdZCI2uCbqVRELgnlrh8vQ2INMnkadVMSniC54HChLIh5htabVuKJww8g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/@microflash/rehype-starry-night@2.1.0/index.css">
    <style>
      /* rehype-starry-night/index.css assumes dark theme. */
      /* This is a workaround for light theme. */
      @media(prefers-color-scheme: light) {
        .highlight {
          --highlight-code-highlight: #fff8c5;
        }
        .highlight-language {
          background-color: rgb(216, 222, 228);
        }
      }

      /* GitHub width and padding */
      /* suggested by github-markdown.css README */
      .markdown-body {
        box-sizing: border-box;
        min-width: 200px;
        max-width: 980px;
        margin: 0 auto;
        padding: 45px;
      }

      @media(max-width: 767px) {
        .markdown-body {
          padding: 15px;
        }
      }

      /* Inspired by gnu.org */
      footer {
        font-size: 0.875em;
        padding: 1.5em 3%;
        color: #333;
        background: #f4f4f4;
        margin-top: 3em;
      }
    </style>
    <link
      rel="alternate"
      type="application/rss+xml"
      href="{{location}}/rss.xml">
    <link
      rel="alternate"
      type="application/git+http"
      href="https://github.com/{{site.repo}}.git">
  </head>
  <body>
    <header>
      <a href="{{location}}/">mmap.page</a>
    </header>
    <article class="markdown-body">
      {{ content }}
    </article>
    <footer>
      <p>
        Permission to use, copy, modify, and/or distribute this site for any purpose with or without fee is hereby granted.
        This site is provided "as is" without express or implied warranty.
      </p>
      <p>
        This site does not use cookies or tracking codes.
        Except for the <a href="/search/">search</a> page, this site does not use JavaScript.
      </p>
      <p>
        Site source is
        <a href="https://github.com/{{site.repo}}/">available</a>
        and feedback is
        <a href="https://github.com/{{site.repo}}/issues">welcome</a>.
      </p>
      <p>
        Powered by <a href="https://lume.land" title="static site generator">lume</a>
        and hosted on <a href="https://render.com" title="free alternative to Heroku">Render</a>.
      </p>
    </footer>
  </body>
</html>
